# Исключить особо важные данные
.env

# Игнорировать сгенерированные документы
documents/templates/generated.docx

# Виртуальное окружение
venv/
.env/

# Файлы Python
__pycache__/
*.pyc

# Базы данных
*.sqlite3

# Статические файлы (если они генерируются автоматически)
staticfiles/

# Локальные настройки
local_settings.py

# Файлы IDE
.idea/
.vscode/
